@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");

body {
  background: #f9f9f9;
  font-family: "Roboto", sans-serif;
}

body {
  background-image: url("../images/background_landing_image.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.username {
  position: fixed;
  top: 0;
  left: 0;
}

.pointandchart {
  position: fixed;
  top: 0;
  right: 0;
}

h6 {
  display: inline;
}

.img-circle img {
  height: 40px;
  width: 40px;
  /* border-radius: 100%;
  border: 5px solid #fff; */
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 25%;
  padding: 5px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* padding: 150px; */
}

.imageicon {
  padding: 15px;
}



span.circle {
  background: #e3e3e3;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #6e6e6e;
  display: inline-block;
  font-weight: bold;
  line-height: 100px;
  margin-right: 5px;
  text-align: center;
  width: 100px;
  font-size: 60px;
}

.passed {
  background: #64ff47 !important;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown_item {
  display: none;
  position: absolute;
  min-width: 100%;
}

.dropdown_item a {
  display: block;
  color: black;
  padding: 10px;
  text-decoration: none;
}

.dropdown:hover .dropdown_item {
  display: block;
}

.popup-result {
  font-family: Lato;
  width: 400px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 50%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
}

.hidden {
  visibility: hidden;
}

.popup-result h2 {
  font-family: Lato;
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.pointandchart button {
  padding: 0;
  border: none;
  background: none;
}